<div class="slide-over{% if page.url != '/' %} hidden{% endif %}">
  <div class="inner bottom frontpage nav-push">
    <div class="fp-min-height">
      <div class="fp-gradient"></div>
      <div class="push-scroll">
        <h1 class="red">
          {{site.data.global.title}}
        </h1>
        <h2>
          {{ site.data.global.tagline }}
        </h2>
        <p>
          {{ site.data.global.description }}
        </p>
        {% include icon-shark.html class="fp-icon-jaws" %}
      </div>
    </div>
  </div>
</div>
