<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% asset critical.css %}
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="{% asset favicon/apple-touch-icon.png @path %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon/favicon-32x32.png @path %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon/favicon-16x16.png @path %}">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" href="{% asset favicon/safari-pinned-tab.svg @path %}" color="#3482af">
  <meta name="theme-color" content="#3482af">
  <meta name="msapplication-config" content="{{ site.baseurl }}/browserconfig.xml" />

  <title>
    {% if page.title %}
      {{ page.title | escape }} &middot; {{ site.data.global.title | escape }}
    {% else %}
      {{ site.data.global.title | escape }} &middot; {{ site.data.global.tagline | escape }}
    {% endif %}
  </title>
  {% seo title=false %}
</head>
