<svg viewBox="0 0 100 100" class="banner-logo" width={{ include.height | default: "3em" }} height={{ include.height | default: "3em" }} >
  <title>DeoVolenteGames</title>
  <path d="M20.63 9.438L2.403 34.54 79.37 90.562 97.597 65.46V34.623L50.03 0z" display="inline" opacity="1" fill={{ include.side | default: "#ff8b00" }} />
  <path d="M20.534 90.51L49.97 100l29.4-9.438L68.1 75.24 20.534 40.615 2.402 34.54v30.837L20.534 90.51" display="inline" opacity="1" fill={{ include.shadow | default: "#d94c00" }} />
  <path d="M97.598 34.623L79.466 9.49 50.03 0l-.06 19.27 29.4 21.397z" display="inline" opacity="1" fill={{ include.highlight | default: "#ffda00" }} />
  <path d="M68.102 75.24L79.37 40.666 49.97 19.27 20.534 40.615l11.206 34.59z" display="inline" opacity="1" fill={{ include.face | default: "#ffa400" }} />
</svg>
