<svg xmlns="http://www.w3.org/2000/svg" {% if include.class %}class={{ include.class }}{% endif %} viewbox="0 0 1000 1000">
  <defs>
    <clipPath id="b">
      <path d="M132.3 104.7C87 104.7 50 190.9 50 263.4 50 218.2 87 154 132.3 154c45.2 0 82.3 64.2 82.3 109.4 0-72.5-37-158.7-82.3-158.7z" fill="#e9ebf4" fill-rule="evenodd" stroke-width="15.7" stroke-linejoin="round"/>
    </clipPath>
    <clipPath id="a">
      <path d="M132.3 104.7C87 104.7 50 190.9 50 263.4 50 218.2 87 154 132.3 154c45.2 0 82.3 64.2 82.3 109.4 0-72.5-37-158.7-82.3-158.7z" fill="#e9ebf4" fill-rule="evenodd" stroke-width="15.7" stroke-linejoin="round"/>
    </clipPath>
  </defs>
  <path d="M500 1c77.4 0 348 368.7 400 1000H500zm0 0c-77.4 0-348 368.7-400 1000h400z" fill="#3a5677" fill-rule="evenodd"/>
  <path d="M500 333.3c-171 0-311.2 329.8-311.2 607 0-173 140.2-418.2 311.2-418.2s311.2 245.2 311.2 418.3c0-277.3-140.2-607-311.2-607z" fill="#242c49" fill-rule="evenodd"/>
  <g fill="#96a0be" fill-rule="evenodd">
    <path d="M206 192.3l-2.7 13 6-1c-1.2-5.8-1.8-6.3-3.3-12zm-5.4-16.6l-3.5 13.8 8.5.6zm-6.6-16.1l-4.2 13.6 9.8-1zm-8-15.6c-3 5-5 13.5-5 13.5s7-.8 11.8-.4A148 148 0 0 0 186 144zm-8.4-13.3c-2.2 5.3-4.7 14-4.7 14s7.2-1.4 12.4-2.8c-3-5-4.2-6.6-7.7-11.2zm-13.1-14.2c-1.3 5.5-2 16.1-2 16.1s7.7-2.8 13-4.3c-3.9-4.9-7-8.2-11-11.8zm-13.6-9.2c-.3 6-.4 16-.4 16s8.3-4.4 12.9-7.7c-4.4-4-7.2-5.8-12.5-8.3zm-17-4.6c1.3 6.7 4.3 15.4 4.3 15.4L149 106c-5.6-2.3-10-3.2-15-3.2zm-75.4 89.6l2.8 13-6.1-1c1.2-5.8 1.9-6.3 3.3-12zm5.5-16.6l3.5 13.8-8.6.6zm6.6-16.1l4.2 13.6-9.8-1zm8-15.6c3 5 4.9 13.5 4.9 13.5s-7-.8-11.7-.4a148 148 0 0 1 6.8-13.1zm8.4-13.3c2.2 5.3 4.7 14 4.7 14s-7.2-1.4-12.4-2.8c3-5 4.2-6.6 7.7-11.2zm13.1-14.2c1.3 5.5 2 16.1 2 16.1s-7.7-2.8-13-4.3c3.9-4.9 7-8.2 11-11.8zm13.6-9.2c.3 6 .4 16 .4 16s-8.3-4.4-12.9-7.7c4.4-4 7.2-5.8 12.5-8.3zm17-4.6c-1.4 6.7-4.3 15.4-4.3 15.4L115.6 106c5.6-2.3 10-3.2 15-3.2z" clip-path="url(#a)" transform="matrix(3.77953 0 0 3.82485 0 -67)"/>
    <path d="M150 161.7c-1-6-3-12.1-5.9-18-5 4.4-7.9 9.3-11 14.6 6.2 0 11 1.2 16.8 3.4zm16.1 9c.7-6.3.6-13.2 0-19-6 2.8-8.8 6.9-13.5 10.7 6.2 2.7 8.7 4.7 13.5 8.3zm13.6 12.5l.3-17.6s-6.6 4.7-12.2 7.1c5 3.7 12 10.5 12 10.5zm11.4 14.7l1-15.2-10.5 3.1zm9.4 1l-8.1 1.5 6.8 10.9zm-85.9-37.2c1-6 3-12.1 5.9-18 5 4.4 7.9 9.3 11 14.6-6.2 0-11 1.2-16.9 3.4zm-16.1 9c-.7-6.3-.6-13.2 0-19 6 2.8 8.8 6.9 13.5 10.7-6.2 2.7-8.7 4.7-13.5 8.3zm-13.7 12.5l-.2-17.6s6.6 4.7 12.2 7.1c-5 3.7-12 10.5-12 10.5zM73.5 198l-1-15.2 10.5 3.1zm-9.4 1l8.1 1.5-6.8 10.9z" clip-path="url(#b)" transform="matrix(3.77953 0 0 3.82485 0 -67)"/>
  </g>
</svg>