<div class="fixed-top nav-primary{% if page.url == '/' %} hidden{% endif %}">
  <nav class="navbar navbar-expand-md navbar-dark justify-content-between push-scroll">
    <div class="container">
      <a class="nav-fade{% if page.url == '/' %} hidden{% endif %}" href="{{ site.baseurl }}/">
        {% include icon-teeth.html class="nav-icon-jaws" %}
      </a>
      <a class="navbar-brand nav-fade{% if page.url == '/' %} hidden{% endif %}" href="{{ site.baseurl }}/">
        <!--<span class="red">{{ site.data.global.title }}: </span>&nbsp;{{ site.data.global.tagline }}-->
        <span class="font-weight-bold">{{ site.data.global.title }}</span>
        <span class="text">: {{ site.data.global.tagline }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto text-right">
          {% for item in site.data.nav.main %}
            {% if item.title %}
            <li class="nav-item{% if page.url == item.url %} active{% endif %}">
              <a class="nav-link" href="{{ item.url | prepend: site.baseurl }}">
                {% if item.icon %}
                  <i class="fa-li fa-cr fa-fw {{ item.icon }}"></i>
                {% endif %}
                {{ item.title }}
                {% if page.url == item.url %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>