---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    {% include frontpage.html %}
    <div class="stay-under nav-push{% if page.url == '/' %} hidden{% endif %}">
      <div class="push-wrapper bg-light scroll-content">
        <div class="push-scroll">
          <main class="main expand" role="main">
            {{ content }}
          </main>
        </div>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
