---
layout: page
title: Blog
permalink: /blog/
pagination:
  enabled: true
---

<div class="home">
  <ul class="list-unstyled">
    {% for post in site.posts %}
      <li class="mb-4">
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <time class="text-muted" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time >
  	  	<p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe text-muted">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
