$transition-time: 1s;
$nav-height-sm: 3rem;
$nav-height-lg: 5rem;
$footer-height: 3rem;

@import "nav";
@import "push-to-bottom";
@import "slide-over";

@if not($enable-grid-classes) {
  .container {
    @include make-container();
    @include make-container-max-widths();
  }
  .row {
    @include make-row();
  }
}

.red {
  color: $red;
  // font-weight: 800;
  text-shadow: 0 0 0.5em rgba(theme-color("dark"), .5);
}

a {
  & .red {
    color: rgba($red, .85);
  }
  &:hover, &:focus {
    & .red {
      // color: rgba($red, .85);
      color: $red;
    }
  }
}

// TODO: Clean up frontpage by splitting itm into classes
.frontpage {
  text-align: center;
  * {
    z-index: 100;
  }
  h1 {
    font-weight: 800;
    position:    relative;
    font-size:   6rem;
  }
  p {
    position: relative;
    margin-top: 1rem;
    padding:  0 1rem;
  }
  color: theme-color("light");
  a {
    color: rgba($white, .5);
    @include hover-focus {
      color: rgba($white, .75);
    }
  }
  background: theme-color("primary");
  width: 100%;
}

.fp-icon-jaws {
  z-index:     -100;
  position:     absolute;
  bottom:       0px;
  right:        25%;
  left:         50%;
  margin-left: -25vh;
  height:       50vh;
}

.fp-gradient {
  z-index:    0;
  position:   absolute;
  min-height: 400px;
  bottom:     0;
  height:     100%;
  width:      100%;
  background: linear-gradient(to top, theme-color("dark"), transparent calc(100% - #{$nav-height-lg}));
}

.fp-min-height {
  min-height: 350px;
  position:   relative;
  height:     100%;
}

.frontpage-title {
  display: block;
}

.main {
  padding-top: 1rem;
  @include make-container();
  @include make-container-max-widths();
}

.footer {
  background-color: theme-color("dark");
  padding-top: 1rem;
}

@include media-breakpoint-up(md) {
  .push-scroll {
    width: calc(100vw - 34px);
    padding-left: 34px !important;
    padding-right: 0   !important;
  }
}

header {
  margin-top: 1rem;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

@include push-to-bottom($footer-height);
