/**
 * Fonts
 */

// $font-list: "put-font-names-here";

// @each $font-name in $font-list
// {
//   @font-face {
//     font-family: $font-name;
//     src: url(asset_path($font-name+'.woff2')) format('woff2'),
//          url(asset_path($font-name+'.woff')) format('woff'),
//          url(asset_path($font-name+'.ttf')) format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }
// }

// Uncomment once custom fonts are needed
