/**
 * Navbar
 */

// $nav-brand-height: 50px;
$navbar-fade: 0.5s;

// TODO: clean up nav.navbar to make it more flexible.
// currently uses a really inelegant method of making sure that the navbar doesn't shift.
nav.navbar {
  min-height: $nav-height-sm;
  // padding-top: calc((#{$nav-height-sm} - #{$nav-brand-height)} / 2);
  // padding-bottom: calc((#{$nav-height-sm} - #{$nav-brand-height)} / 2);
  @include media-breakpoint-up(md) {
    min-height: $nav-height-lg;
    // padding-top: calc((#{$nav-height-lg} - #{$nav-brand-height)} / 2);
    // padding-bottom: calc((#{$nav-height-lg} - #{$nav-brand-height)} / 2);
  }
}

.nav-icon-jaws {
  position: relative;
  bottom: 0;
  left: 0;
  margin-right: 1rem;
  height: 2rem;
  @include media-breakpoint-up(md) {
    height: 3rem;
  }
}

.nav-primary {
  background-color: theme-color("primary");
  transition: background-color ($transition-time - $navbar-fade) ease-in-out;
  &.hidden {
    transition: background-color $navbar-fade ($transition-time - $navbar-fade);
    background-color: rgba(theme-color("primary"), 0.75);
  }
}

// fade in/out: https://stackoverflow.com/a/20910008
.nav-fade {
  // visibility: visible;
  opacity: 1;
  transition: ease-in-out opacity $transition-time;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s $transition-time, ease-in-out opacity $transition-time;
  }
}

.navbar-brand {
  display: flex;
  align-content: center;
  color: rgba($white, .5) !important;
  @include hover-focus {
    color: rgba($white, .75) !important;
  }
  @include media-breakpoint-down(xs) {
    font-size: $font-size-base;
  }
  .text {
    @media (max-width: 410px) {
      display: none;
    }
  }
}

@media (min-width: 365px) {
  .nav-item.home {
    display: none;
  }
}

// Pushes other content down
.nav-push {
  padding-top: $nav-height-sm;
  @include media-breakpoint-up(md) {
    padding-top: $nav-height-lg;
  }
}

.navbar-toggler{
  padding: 3px !important;
  border-width: 0;
}

.navbar-toggler-icon{
  padding: 3px !important;
}
