/**
 * Push to Bottom
 * https://stackoverflow.com/a/8825714
 * Keeps the footer (or anything else) at the bottom of the window.
 */

html, body{
  height: 100%
}

@mixin push-to-bottom($bottom-height) {
  // Goes around both expandable content and footer
  .push-wrapper {
    min-height: 100%;
    position: relative;
  }

  // Goes around expandable main content above footer
  .expand {
    padding-bottom: calc(1rem + #{$bottom-height});
  }

  // Goes around footer
  .bottom {
    height: $bottom-height;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
