/**
 * Slide over animation.
 * It's a bit overkill but it works
 *
 * TODO: Could be made more efficient by changing div structure.
 * https://medium.com/outsystems-experts/how-to-achieve-60-fps-animations-with-css3-db7b98610108
 */

.slide-over {
	z-index: 100;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  visibility: visible;
  // will-change: height, visibility; // Don't overdo it
  > .inner {
    position: absolute;
    height: 100vh;
    overflow-x: inherit;
    overflow-y: auto;
    transform: none;
    transition: transform $transition-time ease-in-out;
    will-change: transform; // remove this if possible using js
  }
  &.hidden {
    height: 0;
    transition: height 0s $transition-time, visibility 0s $transition-time;
    visibility: hidden;
    > .inner {
      &.top {
        transform: translateY(-100%);
      }
      &.bottom {
        transform: translateY(100%);
      }
    }
  }
}

.stay-under {
  position: relative;
  height: 100%;
  z-index: 0;
  visibility: visible;
  &.hidden {
    overflow-y: hidden;
    visibility: hidden;
    transition: visibility 0s $transition-time;
  }
}

// For making Edge/IE a little less janky
.no-animate {
  transition: 0s 0s !important;
}
