/**
 * Bootstrap Overrides
 */

$enable-flex:         true;
$enable-grid-classes: false;
$enable-rounded:      false;

$font-family-base:    "Open Sans", Arial, sans-serif;

$brand-primary:       #3482AF; //rgb(52, 130, 175);
$dark:                #273752;

$theme-colors: (
  primary:            $brand-primary,
  dark:               $dark
);
